* {
    font-family: "Space Mono", monospace;
}

body {
    display: flex;
    background-color: #463F49;
    flex-direction: column;
    align-items: center;

}

h1 {
    color: #E7E0E4;
    font-size: 5rem;
}

h2 {
    color: #A38D96;
}

#game {
    display: grid;
    grid-template: repeat(3, 150px) / repeat(3, 150px);
}

#game div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E0E4;
    color: #F4D018;
    background-color: #463F49;
    font-size: 4rem;
}

button {
    background-color: #E7E0E4;
    border: none;
    color: #463F49;
    padding: 12px 30px;
    text-align: center;
    font-size: 1rem;
    border-radius: .3rem;
}

