#game {
    display: grid;
    grid-template: repeat(3, 150px) / repeat(3, 150px);
}

#game div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: pink;
    font-size: 4rem;
}

